<h2>View Store Flavor Details</h2>
<p>
  <strong>Store:</strong>
  <%= @store_flavor.store_id %> &comma;
  <%= @store_flavor.store.name %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @store_flavor.flavor_id %> &comma;
  <%= @store_flavor.flavor.name %>
</p>

