<!-- FIXED ACTION BUTTON -->
        <div class="fixed-action-btn" style = "padding-bottom:75px;">
          <a href="#" class="btn-floating pink btn-large"><i class="large material-icons">import_contacts</i></a>
          <ul id="listings" style = "padding-bottom:75px;">
            <!-- Show Stores -->
            <li>
                <a href="/stores" class="btn-floating light-blue btn-large tooltipped" data-position="left" data-delay="50" data-tooltip="View Stores"><i class="material-icons">store</i></a>
            </li>
            <!-- Show Employees -->
            <li>
                <a href="/employees" class="btn-floating amber btn-large tooltipped" data-position="left" data-delay="50" data-tooltip="View Employees" ><i class="material-icons">person</i></a>
            </li>
            <!-- Show Assignments -->
            <li>
                <a href="/assignments" class= "btn-floating pink lighten-1 btn-large tooltipped" data-position="left" data-delay="50" data-tooltip="View Assignments"><i class="material-icons">assignment</i></a>
            </li>
          </ul>
          </div>
          
         <div class="fixed-action-btn horizontal"> 
        <a href="#" class="btn-floating light-blue btn-large"><i class="large material-icons">add</i></a>
          <ul id="newaddings" style = "padding-bottom:85px;">
            <!-- Add New Store -->
            <li>
                <a href="/stores/new" class="btn-floating light-blue btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Add New Store"><i class="material-icons">store</i></a>
            </li>
            <!-- Add New Employee -->
            <li>
                <a href="/employees/new" class="btn-floating amber btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Add New Employee"><i class="material-icons">person</i></a>
            </li>
            <!-- Add New Assignment -->
            <li>
                <a href="/assignments/new" class= "btn-floating pink lighten-1 btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Add New Assignment"><i class="material-icons">assignment</i></a>
            </li>
          </ul>
        </div>
        

        
        
        
