<div class="fixed-action-btn horizontal" style = "padding-bottom:800px;"> 
        <a href="#" class="btn-floating light-blue btn-large"><i class="large material-icons">add</i></a>
          <ul class="listings" style = "padding-bottom:885px;">
            <!-- Add New Store -->
            <li>
                <a href="/stores/new" class="btn-floating light-blue btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Add New Store"><i class="material-icons">store</i></a>
            </li>
            <!-- Add New Employee -->
            <li>
                <a href="/employees/new" class="btn-floating amber btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Add New Employee"><i class="material-icons">person</i></a>
            </li>
            <!-- Add New Assignment -->
            <li>
                <a href="/assignments/new" class= "btn-floating pink lighten-1 btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Add New Assignment"><i class="material-icons">assignment</i></a>
            </li>
            <!-- Add New Shift -->
            <li>
                <a href="/shifts/new" class="btn-floating green btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Add New Shift"><i class="material-icons">autorenew</i></a>
            </li>
            <!-- Add New Job -->
            <li>
                <a href="/jobs/new" class="btn-floating purple btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Add New Job"><i class="material-icons">work</i></a>
            </li>
            <!-- Add New Flavor -->
            <li>
                <a href="/flavors/new" class="btn-floating grey btn-large tooltipped" data-position="top" data-delay="50" data-tooltip="Add New Flavor"><i class="material-icons">format_color_fill</i></a>
            </li>
          </ul>
    </div>