<h1>
    About Us
</h1>

<div class="left-align">
    The A&M Creamery is the brainchild of Alex and Mark Heimannand currently 
    consists of four stores in the Greater Pittsburgh area. (Of course, Alex and
    Mark definitely want to expand the number of stores in their franchise as 
    circumstances allow.) Having lived with their father for so long, the boys 
    know that a key to successfully managing these stores will be their ability 
    to track key data for each store as well as develop a web presence for the 
    creamery. They want a web-based application to help them in this regard. 
    
    It should be noted that the Creamery franchise has a wide variety of flavors
    they offer. Alex and Mark are inventive and are constantly coming up with new
    flavors and occasionally retiring older flavors. 
</div>