<h1>
    About Us
</h1>

    <!-- Image For Banner About Us -->
    <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="https://www.incimages.com/uploaded_files/image/1940x900/HaloTopPano-EmilyShur_334538.jpg">
          <span class="card-title pink lighten-3">Alex and Mark</span>
        </div>
        <div class="card-content left-align">
          
          <p>The A&M Creamery is the brainchild of Alex and Mark Heimann and currently 
    consists of four stores in the Greater Pittsburgh area. (Of course, Alex and
    Mark definitely want to expand the number of stores in their franchise as 
    circumstances allow.) Having lived with their father for so long, the boys 
    know that a key to successfully managing these stores will be their ability 
    to track key data for each store as well as develop a web presence for the 
    creamery. They want a web-based application to help them in this regard. 
    
    It should be noted that the Creamery franchise has a wide variety of flavors
    they offer. Alex and Mark are inventive and are constantly coming up with new
    flavors and occasionally retiring older flavors. </p>
        </div>
      </div>
    </div>
    
</div>
