<h1>
    Contact Us
</h1>

<div class="left-align">
    To contact us, we are available:
    <br>
    - Through our web app: 24/7
    <br>
    - Through our hotline 339-323-1243 from Sunday to Thursday 09:00 to 22:00
</div>